.carousel-image {
    width: 1580px; 
    height: 810px; 
    object-fit: cover; 
    margin: 0 auto; 

  }

p{
    display: flex;
    align-items: center;
    justify-content: center;
}

  
.slick-prev,
.slick-next {
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%); 
  z-index: 1; 
}


.slick-prev {
  left: 30px; 
}


.slick-next {
  right: 30px; 
}

  @media (max-width: 767px) {
    .carousel-image {
      width: 300px; 
      height: 200px;
    }

    .slick-prev {
        left: 10px; 
      }
      
      .slick-next {
        right: 10px; 
      }
  }
    

