/* Adicione estilos globais conforme necessário */
.mainContainer h1,
.mainContainer p,
.mainContainer2 h1,
.mainContainer2 p {
  color: black;
}

.texto1Container,
.texto1Container2 {
  flex-grow: 1;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */
}


.mainContainer,
.mainContainer2 {
  margin: 5rem;
  background-color: #D7A9A9;
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 20px;
  /* Reduz o espaço entre os elementos */
  border-radius: 10px;
  /* Adiciona bordas arredondadas */
}

.imgContainer,
.imgContainer2 {
  margin-right: 20px;
  margin-left: 1rem;
}

.imgContainer img,
.imgContainer2 img {
  max-width: 100%;
}


.Titulo,
.Titulo2 {
  text-align: center;
}


.buttonContainer {
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  background-color: #eebbbb;
  color: white;
  border: none;
  border-radius: 5px;
}

.button:hover {
  background-color: #e7c7c7;
}

.message {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}


@media screen and (max-width: 755px) {
  .mainContainer,
  .mainContainer2 {
    margin-top: 5rem;
    margin-left: 0;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 10px;
    gap: 10px;
  }

  .mapContainer {
    margin-bottom: 20px; /* Adiciona um espaço entre o mapa e o texto */
    max-width: 100%; /* Define a largura máxima para o mapa */
    width: 100%; /* Garante que o mapa ocupe a largura total do contêiner */
    height: 300px; /* Define a altura desejada para o mapa */
    overflow: hidden; /* Oculta qualquer conteúdo que se estenda para fora do contêiner */
  }
  

  .imgContainer,
  .imgContainer2 {
    margin: 0;
  }

  .imgContainer img,
  .imgContainer2 img {
    margin-bottom: 1rem;
  }
}
