/* footer.module.css */

.footer {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #876a6a;
}

.mapArea {
  flex: 1;
  margin-right: 20px;
}

.map {
  border: 0;
  border-radius: 15px;
  width: 100%;
}

.contactArea {
  flex: 1;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente o conteúdo */
  align-items: center; /* Centraliza horizontalmente o conteúdo */
}

form {
  width: 100%;
  margin-top: 20px;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 100%; /* Garante que os inputs ocupem a largura total */
}

.input1,
.input2 {
  margin-bottom: 10px;
}

label {
  display: block;
}

textarea {
  width: 100%;
}

/* Adaptação para telas menores */
@media screen and (max-width: 600px) {
  .mapArea {
    margin-right: 0;
    order: 2; /* Muda a ordem, colocando .mapArea abaixo de .contactArea em telas menores */
  }

  .contactArea {
    order: 1; /* Muda a ordem, colocando .contactArea acima de .mapArea em telas menores */
  }
}
