.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #876a6a;
}

.mapArea {
  width: 50%;
}

.map {
  border: 0;
  border-radius: 15px;
  width: 100%; /* Make the map take full width */
}

.contactArea {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form {
  width: 100%; /* Adjust the form to take full width */
  margin-top: 20px; /* Add some spacing above the form */
}

.inputs {
  display: flex;
  flex-direction: column; /* Stack inputs vertically on smaller screens */
}

.input1 {
  margin-right: 0; /* Remove the right margin for the first input */
}

label {
  margin-bottom: 10px;
}

textarea {
  width: 100%; /* Make the textarea take full width */
}

@media (min-width: 755px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .mapArea,
  .contactArea {
    width: 100%; /* Adjust both areas to take full width */
    margin-bottom: 20px; /* Add some spacing between map and contact areas */
  }

  form {
    width: 50%; /* Adjust the form to take 50% width on larger screens */
    margin-top: 0; /* Remove the top margin */
  }

  .inputs {
    flex-direction: row; /* Align inputs in a row on larger screens */
  }

  .input1 {
    margin-right: 20px;
    }
}
