/* iconsform.module.css */

.iconContainer {
  display: flex;
  flex-direction: column; /* Para que os elementos fiquem em uma coluna */
  justify-content: center;
  align-items: center;
  height: 25vh;
  position: relative;
}

.iconContainer h1 {
  margin-bottom: 20px; /* Adicione um espaço abaixo do h1 */
}

.iconContainer .icons {
  display: flex; /* Para manter os ícones em linha (horizontal) */
}

.iconContainer .icons .icon {
  font-size: 30px; /* Defina o tamanho dos ícones aqui */
  margin: 0 10px;
  color: white; /* Defina a cor dos ícones */
}
